{%extends 'main_page/main_p.html' %}
{%block bodyblock%}
<h1>If you are admin authorized yo can log in!</h1>
<button type="button" class="btn btn-outline-secondary"><a href = "#">Log in as Admin!</a></button>
<h2>If you have not registered for admin you can contact via information below, or use fill the following form.</h2>
<h4>Tel:5513391907</h4>
<h4>Mail:eicyer25@my.uaa.k12.tr</h4>
<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
    <a href = "#">
    Sign In Form
    </a>
  </button>
{%endblock%}